html, body {
  background-color: #eee;
}

body {
  padding-top: 40px;
}

.page-header {
  background-color: whiteSmoke;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

body.reports .page-header {
  padding-bottom: 38px;
}

.page-header .tabs {
  border: 0;
}

.topbar div > ul a.btn {
  padding: 5px;
  margin: 3px 0;
}

.content .span4 {
margin-left: 0;
padding-left: 19px;
border-left: 1px solid #EEE;
}

.content .span6 {
margin-left: 0;
padding-left: 19px;
border-left: 1px solid #EEE;
}

.content .span10 #map_canvas, #disqus_thread {
  margin-right: 20px;
}

.content {
  background-color: white;
  padding: 20px;
  margin: 0 -20px;
  -webkit-border-radius: 0 0 6px 6px;
      -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
      -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

#map_canvas {
    height: 500px;
}

footer {
  margin-top: 20px;
  margin-bottom: 5px;
}

.labels {
  color: red;
  background-color: white;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 7px;
}

.alert-message {
  position: fixed;
  top: 50px;
  right: 10px;
  z-index: 11111;

  width: 400px;
}
