body {
}

ul.images {
  list-style: none;
  padding: 0px;
}
.images li {
  margin: 0px;
}

article {
  background: #222;
  color: #B4B4B4;
  padding-top: 30px;
  padding-bottom: 30px;
}

article a {
  color: #FC3535;
}

article a:hover {
  text-decoration: underline;
}

#map_canvas {
    height: 500px;
}

header a, footer a {
  color: #222;
  text-decoration: none;
}

header a:hover, footer a:hover {
  color: #7E090C;
  text-decoration: underline;
}

header, footer {
  height: 120px;
  background: white;
}

footer {
  margin-top: 20px;
  font-size: 120%;
}

@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: normal;
  src: local('Permanent Marker'), local('PermanentMarker'), url('/fonts/PermanentMarker.ttf') format('truetype');
}

#main_title {
  font-family: 'Permanent Marker', arial, serif;
  color: #222;
}

#main_title a:hover {
  text-decoration: none;
  color: #222;
}

#city {
  color: #FC3535;
  font-size: 40%;
}

#user_box {
  text-align: right;
}

.header_right {
  margin-top: 5px;
}

#header_menu {
  margin-top: 32px;
  float: right;
}

#header_menu li {
  list-style: none;
  float:left;
  font-size: 120%;
}

#report_list {
  list-style: decimal;
}

#report_list li {
  margin-bottom: 10px;
}

#report_list li h5 {
  margin-bottom: 5px;
}

textarea#report_description {
  width: 300px;
  height: 200px;
}

#country_map_canvas {
    height: 500px;
}

.labels {
  color: red;
  background-color: white;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 7px;
}

