<script>
  function initialize() {
    var myLatlng = new google.maps.LatLng(<%= "#{@country.lat},#{@country.long}" %>);
    var myOptions = {
        zoom: <%= @country.zoom %>,
        center: myLatlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(document.getElementById("country_map_canvas"), myOptions);

    var city_ll;
    var marker;
    <% @country.cities.each do |city| %>
      city_ll = new google.maps.LatLng(<%= "#{city.lat},#{city.long}" %>);
      marker = new google.maps.Marker({
        position: city_ll,
        map: map
      });
      google.maps.event.addListener(marker, 'click', function() {
        window.location.href = '<%= reports_url :subdomain => city.subdomain %>';
      });
    <% end %>
  }

  function loadScript() {
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src = "http://maps.google.com/maps/api/js?sensor=false&callback=initialize";
    document.body.appendChild(script);
  }

  window.onload = loadScript;
</script>
<div class="grid_12" id="country_map_canvas"></div>
<div class="clear"></div>
